body {
    font-family: Roboto;
    display:flex;
    flex-direction: column;
}

p {
    margin:0px;
    padding:0px;
}
button {
    color:white;
    background-color: #3882F6 ;
    border-radius:5px;
    border:none;
    padding:5px 20px 5px 20px;
}

.hero-message-subtext,
.right-header > a {
    font-size: 18px;
    color:#E5E7EB;
}

.right-header > a {
    text-decoration: none;
}
.left-header {
    font-size: 24px;
    color:#F9FAF8;
}
.header-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.header-container,
.footer,
.hero-sention {
    background-color:#1F2937;
}


.hero-section {
    display:flex;
    flex-direction:row;
    justify-content:center;
    background-color:#1F2937;
}
.hero-message {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    
}
.hero-message > p {
    width:250px;
}
.hero-image {
    align-self:center;
}
.hero-message-title {
    font-size:48px;
    font-weight:900;
    color:#F9FAF8;
}