body {
    font-family: Roboto;
    display:flex;
    flex-direction: column;
    
}

p {
    margin:0px;
    padding:0px;
}
button {
    color:white;
    background-color: #3882F6 ;
    border-radius:5px;
    border:none;
    padding:5px 20px 5px 20px;
    margin-top:10px;
}

.hero-message-subtext,
.right-header > a {
    font-size: 18px;
    color:#E5E7EB;
}

.right-header > a {
    text-decoration: none;
}
.left-header {
    font-size: 24px;
    font-weight: 900;
    color:#F9FAF8;
    padding:15px;
}
.right-header {
    display:flex;
    flex-direction:row;
    gap:20px;
    padding:20px;
}

.header-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:310px;
    padding-bottom:30px;
}
.header-container,
.footer,
.hero-sention {
    background-color:#1F2937;
}


.hero-section {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    background-color:#1F2937;
    padding-bottom:30px;
}
.hero-message {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    padding-right:60px;  
}
.hero-message,
.hero-image {
    padding-top:50px;
    padding-bottom:50px;
}
.hero-message-subtext {
    width:400px;
}
.hero-message-title {
    width:300px;
}
.hero-image {
    display: flex;
    width:400px;
    height:175px;
    box-sizing: border-box;
    background-color: #6D747D;
    align-items:center;
    justify-content:center;
}
.hero-image > p {
    color:white;
}
.hero-message-title {
    font-size:48px;
    font-weight:900;
    color:#F9FAF8;
}

.content {
    display:flex;
    flex-direction:column;
    align-items:center;

}
.content-title {
    padding:30px;
    font-size:36px;
    font-weight:900;
    color:#1F2937;
}
.content-image-container {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
}
.image-subtext-container {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:5px;
}
.content-image {
    border-style: solid;
    min-width:125px;
    min-height:125px;
    border-color:#3882F6;
    border-radius:10px;  
}
.content-message-subtext {
    max-width:200px;
    max-height:125px;
    text-align: center; 
    color:#6D747D;
}

.quote-section-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}
.quote-section > p {
    font-size:36px;
    font-style: italic;
    padding:100px 140px 0px 140px;
    color:#1F2937;
}
.quote-author {
    align-self:center;
    padding-left:500px;
    font-size: 22px;
    font-weight: bold;
}